@import url('https://fonts.googleapis.com/css?family=:Raleway:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*---------------------------------------------Colours*/
.bg-color-name-title {
    background-color: #065a06;
}

.ui-menu-color-home {
    background-color: #249e05;
}

.ui-menu-color-ride {
    background-color: #a83030;
}

.ui-menu-color-join {
    background-color: #249e05;
}

.ui-menu-color-contact {
    background-color: #a83030;
}


body{
    font-family:Raleway, Open-Sans;
}


/*---------------------------------------------heading*/
header{
    margin: 0;
     }
 
.heading {
        margin-left: 50px;
        }

        .logo2 {
            background: url("../images/CCC-by-Castle-1010x300.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 280px;
            transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -webkit-transition: all .5s ease-in-out;
            }
        .logo {
            background: url("../images/rosie.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 360px;
            transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -webkit-transition: all .5s ease-in-out;
            }

            .name {
                font-family: "Exo", sans-serif;
                font-weight: 100;
                font-size: 46px;
                margin-top: 50px;
                color: #fff;
                display:inline;
            }
            .title {
                font-family: "Roboto", sans-serif;
                font-weight: 200;
                font-size: 28px;
                margin-top: 20px;
                margin-bottom: 90px;
                color: #fff;
                display:inline;
            }
            .list-inline-item:not(:last-child){
                margin: 0;
            }
            .menucontainer {
                font-size: 0;
            }
            #nav {
                margin-bottom:0;
            }
            
            #nav li {
                font-size: 1px;
                padding: 0;
            }
            .menuitem {
                height: 60px;
                text-align: center;
                padding: 0;
            }
            .menuitem a {
                width: 100%;
                text-decoration: none;
                color: #fff;
                height: 60px;
            }
            .menuitem a i {
                padding-top: 22px;
                display: block;
                color: #fafafa;
                font-size: 14px;
            }
            .menuitem span {
                display:block;
                width: 100%;
                padding-top: 5px;
                text-align: center;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 2px;
            }
        
/*--------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}