@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #1c7207;
}
/* -----------------header */
h2 {
  font-family: Raleway, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #fff;
}
h3 {
  font-family: Raleway, sans-serif;
  font-size: 1em;
}

.green {
  background-color: #1c7207;
}
.white {
  background-color: #fff;
}
.space-around {
  padding: 2%;
}
.float-left {
  float: left;
}
.header-container {
  align-items: flex-end;
}
.logo {
  width: 20vw;
  margin-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  z-index: 2;
}
.btn {
  font-size: 0.8rem;
}
.navbar {
  display: inline-block;
  width: 60vw;
  margin-top: 1%;
  padding-bottom: 1%;
}
/* /* .child-one {

  position: static;
  width: 100vw;
  margin-top: 1%;
  padding-bottom: 1%;
}
.child-two {
   width: 100vw;
}

.customIndent {
  padding-left: 1.5em;
} */

#about {
  border-top: 15px solid #525252;
  border-bottom: 15px solid #525252;
  padding: 8px;
  width: 100vw;
}

/* responsive nav bar  https://codepen.io/nicolettafbr/pen/KKNydVK*/

#menuToggle {
  display: block;
  position: relative;

  padding: 26px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #fff;

  transition: color 0.3s ease;
}

#menuToggle li:nth-of-type(1):hover {
  color: #ff0000;
}

#menuToggle li:nth-of-type(2):hover {
  color: #ff0000;
}

#menuToggle li:nth-of-type(3):hover {
  color: #ff0000;
}

#menuToggle li:nth-of-type(4):hover {
  color: #ff0000;
}

#menuToggle input {
  display: block;
  position: absolute;
  width: 25px;
  height: 20px;

  margin: 0;
  padding: 20px;

  cursor: pointer;

  opacity: 0; /* Hides the checkbox */
  z-index: 2; /* Places the checkbox over the hamburger icon */

  -webkit-touch-callout: none;
}

/*  Styling the hamburger */
#menuToggle span {
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 4px;
  position: relative;
  /* button colour */
  background: #fff;
  border-radius: 3px;
  font-weight: bold;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    /* was 0.5s */ background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    /* was 0.5s */ opacity 0.55s ease; /* was 0.55s */
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Turns the hamburger slices into a crossmark when clicked
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(1px, 3px);
  background: #ffffff;
}

/* Hides the middle slice */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, 0);
}

/* Positions the menu absolutely at the top left of the screen */
#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  margin: 0;
  padding: 26px;
  padding-top: 80px;
  /* styles mobile menu */
  background: #1c7207;
  list-style-type: none;
  /* Stops the flickering of text in Safari */
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-200%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 20px 0;
  font-size: 16px;
}

/* Slides the menu in from the left! */
#menuToggle input:checked ~ ul {
  transform: none;
}
/* call to action button */

#action {
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  margin: 0;
}
/* ----------------------------------------Footer */

footer {
  /* background-color: #525252; */
  color: #fafafa;

  margin-left: 25px;
  margin-right: 25px;
  border-top: 15px solid #525252;
}
footer img {
  padding-top: 5%;
}

.container-fluid {
  width: 100vw;
  /* padding-right: 31px;
	padding-left: 15px;
	margin-right: 0px;
	margin-left: 15px; */
}

/* -------------------social links */
.social-links {
  padding-bottom: 15px;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: #8f8f8f;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #a83030;
}

#footer-details {
  padding: 20px;
}

/* table styling */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100vw;
  border: 0px solid #ddd;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  background-color: #fff;
}
table td {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
table th {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  width: 33.3%;
}
th,
td {
  text-align: center;
  padding: 8px;
  vertical-align: top;
  background-color: #fff;
}
table h3,
table h2 {
  color: #000;
  background-color: #fff;
}
.table-img {
  width: 30vw;
}

/* hereo section */
.hero {
  background: url("../images/CCC-by-Castle-1010x300.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  margin-bottom: 1rem;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

/* Contact form  Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100vw; /* Full width */
  padding: 20px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  background: #fff;
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #1c7207;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 16px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Media queries for a seamless user experience.
** Tablets
*/
@media only screen and (min-width: 768px) {
  #menuToggle input,
  #menuToggle span {
    display: none;
  }

  #menu {
    display: flex;
    flex-direction: row;

    background: #1c7207;

    padding: 0;
    padding-left: 15px;
    height: auto;
    padding-top: 24px;
    transform: none;
    transition: none;
  }

  #menu li {
    padding: 15px;
    background-color: #1c7207;
  }
}
.logo {
  width: 10vw;
  margin-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  z-index: 2;
}
/* 

/* 
 
/*  Small desktops */
@media only screen and (min-width: 992px) {
  /* alter text width for larger screens */
  /* .child-one {
      /* background-color: #1c7207; */
  /* display: inline-block; */
  /* width: 50vw; */
  margin-top: 1%;
  padding-bottom: 1%;
}
.logo {
  width: 12vw;
  margin-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  z-index: 2;
}

/*  Big destops */

@media only screen and (max-width: 600px) {
  .mobile-hide {
    display: none;
  }
  #about {
    justify-items: self-end;
  }
}
/* small mobiles */
@media only screen and (max-width: 400px) {
  .logo {
    width: 20vw;
    margin-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    z-index: 2;
  }
  .btn {
    font-size: 0.5rem;
  }
}
