@import url('https://fonts.googleapis.com/css?family=:Raleway:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*---------------------------------------------Colours*/
.bg-color-name-title {
    background-color: #065a06;
    color: white;
}

.ui-menu-color-home {
    background-color: #249e05;
}

.ui-menu-color-ride {
    background-color: #a83030;
}

.ui-menu-color-join {
    background-color: #27bd27;
    }

.ui-menu-color-contact {
    background-color: #721d1d;
}

.bg-index-first-section {
    background-color: #fff;
}

body{
    font-family:Raleway, Open-Sans;
}

h1 {
  font-family:Raleway, Open-Sans;
  font-size: 36px;
  line-height: 40px;
}

h2 {
  font-size: 20px;
  line-height: 24px;
}

h3 {
  font-size: 18px;
  line-height: 20px;
}

h4 {
  font-size: 18px;
  line-height: 20px;
}


h5 {
  font-family:Raleway, Open-Sans;
  font-size: 14px;
  line-height: 20px;
}

h6 {
  font-size: 12px;
  line-height: 20px;
}

/*---------------------------------------------heading*/
header{
    margin: 0;
     }
 
.heading {
        margin-left: 50px;
        }

        .logo2 {
            background: url("../images/CCC-by-Castle-1010x300.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 280px;
            transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -webkit-transition: all .5s ease-in-out;
            }
        
        .logo3 {
           
            background-position: left;
            background-repeat: no-repeat;
            min-height: 80px;
            transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -webkit-transition: all .5s ease-in-out;
            }
            

            /* .name {
                font-family: "Raleway", sans-serif;
                font-weight: 100;
                font-size: 46px;
                margin-top: 50px;
                color: #fff;
                display:inline;
            } */
            .title {
                font-family: "Raleway", sans-serif;
                font-weight: 200;
                font-size: 28px;
                margin-top: 20px;
                margin-bottom: 90px;
                color: #fff;
                display:inline;
            }
            /* .list-inline-item allowing the nav to fit on one line and .menucontainer */
            .list-inline-item:not(:last-child){
                margin: 0;
            }
            .menucontainer {
                font-size: 0;
            }

            /* 
            ---------------------------------------------------navbar
            #nav removing whitespace below navbar */
            #nav {
                margin-bottom:0;
            }
            
            #nav li {
                font-size: 14px;
                padding: 0;
            }
            .menuitem {
                height: 68px;
                text-align: center;
                padding: 0;
            }
            .menuitem a {
                width: 100%;
                text-decoration: none;
                color: #fff;
                height: 68px;
            }
            .menuitem a i {
                padding-top: 14px;
                color: #fafafa;
                font-size: 18px;
            }
            .menuitem span {
                display:block;
                width: 100%;
                padding-top: 5px;
                text-align: center;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 2px;
            }
    
             /*--------------------------------------------Hover.css*/

.hvr-sweep-to-right::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  height: 120px;

}    
/*--------------------------------------------index page middle section.css*/

hr {
  border-top: 1px solid #0b8615;
  width: 100%;
  margin: 0;
  padding-bottom: 15px;
} 

 /*--------------------------------------------index page middle section.css*/
#aboutheading {
  margin:2% 1% 2% 1%; 
}
 #aboutblurb {
   margin:1% 12% 1% 12%;
 }
            .row-table {
              display:table;
            }

            .section-column {
              display: table-cell;
              padding: 0 30px 30px;
              float: none;
            }

            .section-heading {
              font-family: Raleway, open-sans;
              font-weight: 300;
              margin-top: 25px;
              margin-bottom: 40px;
              overflow: hidden;
            }



/* ----------------------------------------times section */
#times {
    background: url("../images/2020-09-27-16.02.21-scaled-1010x300.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    width: 100%;
    overflow: hidden;
    margin-left: 15px;
    
}

#times  div {
  color:rgb(242, 243, 241);
  width: 32%;
  height: 170px;
  float: left;
  padding: 30px 0 0 0px;
  text-align: center;
  margin: 4px;
  background-color: rgba(0,0,0,0.59);
  
}
#times h2 {
  color: #ffffff;
}

/* ----------------------------------------Footer */

footer {
  background-color: #065a06;
  color: #fafafa;
  min-height: 80px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 25px;
}
.container-fluid {
  width: auto;
  padding-right: 31px;
  padding-left: 15px;
  margin-right: 0px;
  margin-left: 15px;   
  }   

/* .cv-pdf i {
  font-size: 18px;
  color: #fafafa;
  text-align: center;
  padding-left: 5px;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
} */

.cv-pdf i:hover {
  color: #a83030;
}

.social-links {
  padding-bottom: 15px;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: #8f8f8f;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #a83030;
}
#footer-details {
  padding: 20px;
}
/* ----------------------------------------responsive mobile */
@media screen and (max-width: 943px){
  #times {
    background: url("../images/2020-09-27-16.02.21-scaled-1010x300.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    width: 100%;
    overflow: hidden;
    margin-left: 1rem;
    
}

#times  div {
  color:rgb(242, 243, 241);
  width: 30%;
  height: 8.5rem;
  float: left;
  padding: 3px 0 0 0px;
  text-align: center;
  margin: 1px;
  background-color: rgba(0,0,0,0.59);
  
}
#times h2 {
  font-size: .9rem;
  line-height: 24px;
}
#times h3 {
  font-size: .7rem;
  line-height: 24px;
}
.mobile-hide {
  display: none;
}
